extends layout

block content
  h1 Создать обращение

  // Форма для создания обращения
  form(method="POST", action="/create_appeal")
    div
      label(for="topic") Тема:
      input(type="text", name="topic", id="topic", required)

    div
      label(for="text") Обращение:
      textarea(name="text", id="text", required)

    div
      button(type="submit") Отправить